{% extends "members/user_area.html" %}
{% load i18n %}
{% block content %}

<h2>My cars list</h2>

{% if user.is_authenticated %}
{% load account %}

<p>Logged as: {% user_display user %}</p>
<p>Back to <a href="{% url 'members' %}">Member area</a></p>

<div class="col-12 mt-3 left">
    <div class="row">
    {% for car in user_car_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                        <h2>{{ car.car_id }}</h2>
                        <p>{{ car.brand}}</p>
                        <p>{{ car.model }}</p>
                        <p>{{ car.username }}</p>
                </div>                   
            </div>
            <div>
                <button><a href="{% url 'car_detail' car.slug %}">View</a></button>
                <button><a href="{% url 'edit_car' car.slug %}">Edit</a></button>
            </div>
        </div>
    {% if forloop.counter|divisibleby:1 %}
    </div> 
    <div class="row">        
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
{%endblock%}
