{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">
    <h2 class="m-2">Member Area</h2>
</div>

{% if user.is_authenticated %}
{% load account %}

<div class="container text-center">
    <h3 class="m-1">Hello {% user_display user %},</h3>
    <p>Be welcome. Enjoy your ride and be part of our community!</p>
</div>

<div class="container text-center">
    <!-- Add car and event -->
    <div class="row p-2">
        <div class="col-md-6 mt-4 offset-md-3 bck-grd-gray rounded shadow">
            <a class="btn btn-one m-2" href="{% url 'add_car' %}">Add a new car</a>
            <a class="btn btn-one m-2" href="{% url 'add_event' %}">Add a new event</a>
        </div>
    </div>
    <!-- User cars and events list -->
    <div class="row p-2">
        <div class="col-md-6 mt-4 offset-md-3 bck-grd-gray rounded shadow">
            <a class="btn btn-two m-2" href="{% url 'membercars' %}">My cars</a>
            <a class="btn btn-two m-2" href="{% url 'memberevents' %}">My events</a>
        </div>
    </div>

</div>

<div class="container text-center">
    <p class="mt-5">Account settings</p>
    <a class="btn btn-three" href="{% url 'delete' %}">Delete account</a>
</div>

{% else %}

<!-- Display if user are not logged in -->
<div class="container text-center">
    <div class="col-md-4 mt-4 offset-md-4 bck-grd-gray rounded shadow">
        <div>
            <p>To have access to this page you must be a member.</p>
        </div>

        <div>
            <p class="m-0">If you have an account, log in first.</p>
            <a class="btn btn-three" href="{% url 'account_login' %}">Sign in</a>
        </div>

        <div>
            <p class="m-0 pt-4">If you do not have an account, create one.</p>
            <a class="btn btn-three" href="{% url 'account_signup' %}">Sign up</a>
        </div>
    </div>
</div>

{% endif %}
{%endblock%}