{% extends "members/user_area.html" %}
{% load i18n %}
{% block content %}

<h2>My events list</h2>

{% if user.is_authenticated %}
{% load account %}

<p>Logged as: {% user_display user %}</p>
<p>Back to <a href="{% url 'members' %}">Member area</a></p>

<div class="col-12 mt-3 left">
    <div class="row">
    {% for event in user_event_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                        <h2>{{ event.event_id }}</h2>
                        <p>{{ event.event_title }}</p>
                        <p>{{ event.start_date }}</p>
                        <p>{{ event.local }}</p>
                </div>                   
            </div>
            <div>
                <button><a href="{% url 'event_detail' event.slug %}">View</a></button>
            </div>
        </div>
    {% if forloop.counter|divisibleby:1 %}
    </div> 
    <div class="row">        
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
{%endblock%}
