{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div>
    <h2>Member Area</h2>
</div>

{% if user.is_authenticated %}
{% load account %}

<div>
    <h3>Hello {% user_display user %},</h3>
    <p>Be welcome to the club. Enjoy your ride and be part of our community!</p>
</div>

<div>
    <div>
        <button><a href="{% url 'add_car' %}">Add a new car</a></button>
    </div>
    <div>
        <button><a href="{% url 'add_event' %}">Add a new event</a></button>
    </div>
</div>

<div>
    <div>
        <button><a href="{% url 'membercars' %}">My cars</a></button>
    </div>

    <div>
        <h4>My events</h4>
    </div>
</div>

<div>
    <h5>Account settings</h5>
    <button><a href="{% url 'delete' %}">Delete account</a></button>
</div>

{% else %}

<div>
    <p>To have access to this page you must be a member.</p>
</div>

<div>
    <p>If you have an account, log in first.</p>
    <a href="{% url 'account_login' %}">Sign in</a>

</div>

<div>
    <p>If you do not have an account, create one.</p>
    <a href="{% url 'account_signup' %}">Sign up</a>

</div>

{% endif %}
{%endblock%}