{% extends "members/user_area.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">
    <h2 class="m-2">My cars list</h2>
</div>

{% if user.is_authenticated %}
{% load account %}

<div class="container text-center">
    <p>Logged as: {% user_display user %}</p>
    <p>Back to <a class="btn-three" href="{% url 'members' %}">Member area</a></p>
</div>

<div class="container text-center d-flex flex-column">
    <div class="row d-flex justify-content-center">
        {% for car in user_car_list %}
        <div class="card mb-4 m-3 col-lg-6">
            <div class="card-body m-1">
                <p class="mb-1">Brand: {{ car.brand}}</p>
                <p class="mb-1">Model: {{ car.model }}</p>
                <p class="mb-1">Year: {{ car.year }}</p>
                <p class="mb-1">Last update: {{ car.updated_on }}</p>
            </div>
            <div class="container text-center mb-2">
                <a class="btn btn-card btn-sm" href="{% url 'car_detail' car.slug %}">View</a>
                <a class="btn btn-outline-dark btn-sm" href="{% url 'edit_car' car.slug %}">Edit</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_car' car.slug %}">Delete</a>
            </div>            
        </div>
        {% if forloop.counter|divisibleby:1 %}
        </div> 
        <div class="row d-flex justify-content-center">        
        {% endif %}
        {% endfor %}
        </div>
    </div>        
</div>
{% endif %}
{%endblock%}
