{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <h2 class="m-2">Add new car</h2>
</div>

{% if user.is_authenticated %}
{% load account %}
<div class="container text-center">
    <div class="row p-2">
        <div class="col-md-8 mt-4 mb-4 offset-md-2 bck-grd-gray rounded shadow">

            <form method="POST" enctype='multipart/form-data'>
                
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add your car info here.</legend>
                    <p>User: {% user_display user %}</p>         
                </fieldset>
                    
                    <div class="container">
                        <div class="row">
                        {% for field in form  %}
                        {% csrf_token %}
                        <div class="col-sm-12 m-1">
                            <b>{{ field.label_tag }}</b> - {{ field }} 
                        </div>
                        {% endfor %}
                        </div>  
                    </div>
                
                <div class="mt-3 p-3">
                    <input class="btn btn-success m-1" type="submit" value="Submit">
                    <a class="btn btn-primary m-1" href="{% url 'members' %}" class="btn btn-lg">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>

{% endif %}
{%endblock%}