{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div>
    <h2>Car Detail</h2>
</div>

<!-- Car post image section -->
<div class="card mb-4">
    <img class="card-img-top" src=" {{ car.car_image.url }}">
</div>

<!-- Car post intro section -->
<div>
    <p>Created by {{ car.username }}</p>
    <p>Last update - {{ car.updated_on}}</p>
</div>

<!-- Car post details section -->
<div class="card mb-6">
    <div class="card-body">
        <h2>{{ car.car_id }}</h2>
        <p>Brand: {{ car.brand}}</p>
        <p>Model: {{ car.model }}</p>
        <p>Year: {{ car.year }}</p>
        <p>Price: {{ car.price }}</p>
        <p>HP: {{ car.hp }}</p>
        <p>Max speed: {{ car.speed }}</p>             
    </div>
    <div class="card-body">
        <h3>Description</h3>
        <p>{{ car.description }}</p>
    </div>
</div>

<!-- Comments section -->
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- For loop to iterate through each comment in comments -->
            {% for comment in car_comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            <!-- For loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{%endblock%}