{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container text-center">
    <h2 class="m-2">Garage</h2>
</div>

{% if searched %}
<div class="container text-center">
    <p class="m-2">You searched for {{ searched }}</p>
</div>
{% else %}
<div class="container text-center">
    <p class="m-2">You forgot to search for a car.</p>
</div>
{% endif %}

<!-- Search section -->
<div class="container-fluid text-center bck-grd-black">
     <!-- Search bar -->
    <div class="col-md-auto p-2">
        <div class="container col-sm-8 col-lg-4">
            <form method="POST" class="d-flex" role="search" action="{% url 'search_car' %}">
                {% csrf_token %}
                <div class="input-group mb3">
                    <input type="text" name="searched" class="form-control mr-sm-2" placeholder="Search brand or model here"
                        aria-label="Search cars" value="{{search_input}}" required>
                    <button type="submit" class="btn btn-outline-light" value="Search"><i class="bi bi-search"></i></button>
                    <a href="{% url 'garage' %}" class="btn btn-outline-light"><i class="bi bi-x-lg"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- All cars card list display -->
<div class="col-12 mt-3 left">
    <div class="row">
    {% for car in car_list %}
        <div class="col-md-4">
            <div class="card mb-4 m-3">
                <div class="card-body m-1">
                    <div class="image-container">
                        {% if "placeholder" in car.car_image.url %}
                        <img class="card-img-top rounded" alt="Car image placeholder" src="{% static 'images/car-placeholder.png' %}">
                        {% else %}
                        <img class="card-img-top rounded" alt="Car image" src=" {{ car.car_image.url }}">
                        {% endif %}    
                        <div class="image-flash">
                            <span class="txt-white p-2"><i class="far fa-star p-1"></i> {{ car.number_of_favourites }}</span>
                        </div>
                    </div>
                    <p class="card-text mt-2">Brand: {{ car.brand}}</p>
                    <p class="card-text">Model: {{ car.model }}</p>
                    <p class="card-text">Year: {{ car.year }}</p>
                    <p class="card-text">Created by: {{ car.username }}</p>
                    <a class="btn btn-card" href="{% url 'car_detail' car.slug %}">View more</a>                   
                </div>
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div> 
    <div class="row">        
    {% endif %}
    {% endfor %}
    </div>
</div>

{%endblock%}