{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container text-center">
    <h2 class="m-2">Car Detail</h2>
</div>

<!-- Car post image section -->
<div class="container text-center">
    <div class="image-container">
        {% if "placeholder" in car.car_image.url %}
        <img class="card-img-top rounded" alt="Car image placeholder" src="{% static 'images/car-placeholder.png' %}">
        {% else %}
        <img class="card-img-top rounded" alt="Car image" src=" {{ car.car_image.url }}">
        {% endif %}    
        <!-- Favorite -->
        <div class="image-flash">
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'favourite_car' car.slug %}" method="POST">
                    {% csrf_token %}
                    {% if favourited %}
                    <button id="btn-fav" class="btn txt-yellow p-2" type="submit" name="car_id" value="{{car.slug}}"><i class="fa fa-star"></i></button>
                    {% else %}
                    <button id="btn-fav" class="btn txt-white p-2" type="submit" name="car_id" value="{{car.slug}}"><i class="far fa-star"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="txt-white p-2"><i class="far fa-star"></i></span>
                {% endif %}
            <!-- The number of likes goes before the closing strong tag -->
            <span class="txt-white p-2"> {{ car.number_of_favourites }} </span>
            </strong>
        </div>
    </div>
</div>

<!-- Car post intro section -->
<div class="container text-center">
    <p class="m-2">Created by {{ car.username }}</p>
    <p class="m-2">Last update - {{ car.updated_on}}</p>
</div>

<!-- Car post details section -->
<div class="container text-center">
    <div class="card mb-4">
        <div class="card-body">
            <h3>Car ID: {{ car.car_id }}</h3>
            <p>Brand: {{ car.brand}}</p>
            <p>Model: {{ car.model }}</p>
            <p>Year: {{ car.year }}</p>
            <p>Price: {{ car.price }}</p>
            <p>HP: {{ car.hp }}</p>
            <p>Max speed: {{ car.speed }}</p>             
        </div>
        <div class="card-body">
            <h4>Description</h4>
            <p>{{ car.description }}</p>
        </div>
    </div>
</div>

<!-- Rate section -->
<div class="container text-center">
    <div class="row p-3">
        <div class="col-md-8 card mb-4 mt-3 bck-grd-black txt-white">
            <h3 class="m-2"><i class="bi bi-check-square"></i> Rate reviews</h3>
            <div>
                <p class="border p-1"><i class="bi bi-check-square-fill"></i> {{ len_rate }} </p>
                <p>Price: {{ avg_total.avg_price }}</p>
                <p>Aesthetics: {{ avg_total.avg_aest }}</p>
                <p>Speed: {{ avg_total.avg_speed }}</p>
                <p>Drivability: {{ avg_total.avg_driv }}</p>
                <p>Overall: {{ avg_total.avg_overall }}</p>
            </div>
            <p>
                <a class="btn btn-two" data-bs-toggle="collapse" href="#collapseRate" role="button" aria-expanded="false" aria-controls="collapseRate" style="font-size: 14px;">All Rate Reviews</a>
            </p>
            <div class="collapse collapse-horizontal" id="collapseRate">
                <div class="card card-body bck-grd-black">
                    <!-- For loop to iterate through each rate in rate list -->
                    {% for rate in car_rate %}
                    <div class="comments border p-1">
                        <p class="font-weight-bold">
                            {{ rate.name }}
                            <span class=" text-muted font-weight-normal">
                                <p>Price: {{ rate.price }} | Aesthetics: {{ rate.aesthetics }} | Speed: {{ rate.speed }} | Drivability: {{ rate.drivability }} | Overall: {{ rate.overall }}</p>
                            </span>
                        </p>
                    </div>
                    <!-- For loop ends here -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body d-flex align-items-center">
                {% if user.is_authenticated %}
                    {% csrf_token %}
                    {% if rated %}
                    <div class="container text-center">
                        <p> You already rated this car.</p>
                    </div>       
                    {% else %}
                    <div class="container text-center">
                        <a class="btn btn-one" href="{% url 'rate_car' car.slug %}" style="font-size: 14px;">Rate this car.</a>
                    </div>
                    {% endif %}
                {% else %}
                <div class="container text-center">
                    <p> To rate this car, you need to be logged in.</p>
                </div> 
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Comments section -->
<div class="container text-center">
    <div class="row p-3">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3 class="m-2"><i class="bi bi-chat-square-text"></i> Comments</h3>
            <div>
                {% with car_comments.count as total_comments %}
                    <p class="border p-1"><i class="bi bi-chat-square-text-fill p-1"></i> {{ total_comments }} </p>
                {% endwith %}
            </div>
            <div class="card-body">
                <!-- For loop to iterate through each comment in comments -->
                {% for comment in car_comments %}
                <div class="comments border rounded p-1">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                <!-- For loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" class="mb-2" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-one mt-2" style="font-size: 14px;">Submit</button>
                    </form>
                    {% else %}
                    <div class="container text-center">
                        <p> To make a comment, you need to be logged in.</p>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}