{% extends "base.html" %}
{% load static %}
{% block content %}

<div>
    <h2>Garage</h2>
    <p>Explore our garage and see the unique and historic cars that our members have driven.</p>
</div>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/garage/?sort=date">By date: New to old</a></li>
        <li><a class="dropdown-item" href="/garage/?sort=-date">By date: Old to new</a></li>
        <li><a class="dropdown-item" href="/garage/?sort=brand">By brand: A to Z</a></li>
        <li><a class="dropdown-item" href="/garage/?sort=-brand">By brand: Z to A</a></li>
        <li><a class="dropdown-item" href="/garage/?sort=model">By model: A to Z</a></li>
        <li><a class="dropdown-item" href="/garage/?sort=-model">By model: Z to A</a></li>
    </ul>

<div class="col-12 mt-3 left">
    <div class="row">
    {% for car in car_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'car_detail' car.slug %}">
                        <h2>{{ car.car_id }}</h2>
                        <p>{{ car.brand}}</p>
                        <p>{{ car.model }}</p>
                        <p>{{ car.username }}</p>
                        <img class="card-img-top" src=" {{ car.car_image.url }}">
                    </a> 
                </div>                   
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div> 
    <div class="row">        
    {% endif %}
    {% endfor %}
    </div>
</div>

{%endblock%}