{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Garage page title -->
<div class="container text-center">
    <h2 class="m-2">Garage</h2>
    <p>Explore our garage and see the unique and historic cars that our members have driven.</p>
</div>

<!-- Sort and search section -->
<div class="container-fluid text-center bck-grd-black">
    <!-- Sort list -->
    <div class="dropdown p-2">
        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/garage/?sort=date">By date: New to old</a></li>
            <li><a class="dropdown-item" href="/garage/?sort=-date">By date: Old to new</a></li>
            <li><a class="dropdown-item" href="/garage/?sort=brand">By brand: A to Z</a></li>
            <li><a class="dropdown-item" href="/garage/?sort=-brand">By brand: Z to A</a></li>
            <li><a class="dropdown-item" href="/garage/?sort=model">By model: A to Z</a></li>
            <li><a class="dropdown-item" href="/garage/?sort=-model">By model: Z to A</a></li>
        </ul>
    </div>

    <!-- Search bar -->
    <div class="col-md-auto p-2">
        <div class="container col-sm-8 col-lg-4">
            <form method="POST" class="d-flex" role="search" action="{% url 'search_car' %}">
                {% csrf_token %}
                <div class="input-group mb3">
                    <input type="text" name="searched" class="form-control mr-sm-2" placeholder="Search brand or model here"
                        aria-label="Search cars" value="{{search_input}}" required>
                    <button type="submit" class="btn btn-outline-light" value="Search"><i class="bi bi-search"></i></button>
                    <a href="{% url 'garage' %}" class="btn btn-outline-light"><i class="bi bi-x-lg"></i></a>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- All cars card list display -->
<div class="container-fluid">
    <div class="row">
        {% for car in car_list %}
            <div class="col-md-4 p-0 single-car">
                <div class="card m-3">
                        <div class="card-body m-1 p-1 text-center">
                            <div class="image-container">
                                {% if "placeholder" in car.car_image.url %}
                                <img class="card-img-top rounded" alt="Car image placeholder" src="{% static 'images/car-placeholder.png' %}">
                                {% else %}
                                <img class="card-img-top rounded" alt="Car image" src=" {{ car.car_image.url }}">
                                {% endif %}                                
                                <div class="image-flash">
                                    <span class="txt-white p-2"><i class="far fa-star p-1"></i> {{ car.number_of_favourites }}</span>
                                </div>
                            </div>
                            <p class="card-text mt-2">Brand: {{ car.brand}}</p>
                            <p class="card-text">Model: {{ car.model }}</p>
                            <p class="card-text">Year: {{ car.year }}</p>
                            <p class="card-text">Created by: {{ car.username }}</p>
                            <a class="btn btn-card" href="{% url 'car_detail' car.slug %}">View more</a>                   
                        </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
    <div class="row" id="cars-container">        
    </div>
</div>

<!-- Load more cars buttons -->
<div class="container-fluid mt-4 mb-4 text-center">
    <button id="load-more" class="btn-sm btn-dark" data-limit="3" data-total="{{ total_car_list }}">Load More</button>
    <button id="load-end" class="btn-sm btn-outline-dark" hidden disabled>No more cars</button>
</div>

<!-- Script to Load more cars -->
<script>

    // Function to on click load more button
    $(document).ready(function(){
        $('#load-more').on('click', function(){
            // Get data (limit and total) from button attr and total of cars displayed
            var _current_car=$(".single-car").length;
            var _limit=$(this).attr("data-limit");
            var _total=$(this).attr("data-total");

            // Get sort value from URL
            var current_url = window.location.href;
            var url_now = new URL(current_url);
            var _sort = url_now.searchParams.get("sort");

            if(_sort == null){
                    _sort = "-created_on";
                }
            
            // AJAX to send data and execute function
            $.ajax({
                url: '/load-more-cars/',
                data: {
                    limit: _limit,
                    offset: _current_car,
                    sort: _sort
                },
                dataType: 'json',
                beforeSend:function(){
                     $('#load-more').attr('disabled', true);
                },
                success:function(res){
                    $('#cars-container').append(res.car_list),
                    $('#load-more').attr('disabled', false);
                    
                    var _total_showing=$('.single-car').length;
                    if(_total_showing == _total){
                        $('#load-more').attr('hidden', true),
                        $('#load-end').attr('hidden', false);
                    }
                },
            });
        });
    });
    
</script>

{%endblock%}