/* Style for fonts and text classes */

.txt-white {
    color: white;
}

.txt-shadow-y {
    text-shadow: 2px 2px 4px #FBBF34
}

/* Style for backgrounds classes */
.bck-grd-black {
    background-color: #181818;
}

.bck-grd-gray {
    background-color: #F0F0F0;
}

/* Style for buttons */

.btn-one {
    background-color: #FF6607;
    border: 1px solid #181818;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
}

.btn-one:hover {
    background-color: #ff660700;
    border: 1px solid #FF6607;
    color: #FF6607;
}

.btn-two {
    background-color: #ff660700;
    border: 1px solid #FF6607;
    border-radius: 8px;
    color: #FF6607;
    font-size: 24px;
    font-weight: bold;
}

.btn-two:hover {
    background-color: #FF6607;
    color: #F0F0F0;
    border: 1px solid #F0F0F0;
}

.btn-three {
    color: #FF6607;
    font-weight: bold;
}

.btn-three:hover {
    color: #FFA14A;
}


.btn-card {
    background-color: #FBBF34;
    font-weight: bold;
}

.btn-card:hover {
    background-color: #fbbf3483;
    border: 1px solid #FBBF34;
}

/* Style for navbar elements */

.hover-link {
    border-radius: 10px;
}

.hover-link:hover {
    background-color: #FFA14A;
}

/* Style for footer elements */

#footer-line {
    background-color: #FF6607;
    width: auto;
    height: 8px;
}

#social-list {
    border: 1px solid #FF6607;
}

.social-link {
    color: #FF6607;
    font-size: 30px;
    padding: 10px;
}

.social-link:hover {
    color: #FFA14A;
    text-shadow: 1px 2px 2px black;
}

.list-clear {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    color:#FFA14A
}

/* Index page style */

.hero-image {
    background-image: url(/static/images/autoclassic-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.glass-bck {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


/* !!Media queries!! */


@media screen and (max-width: 400px) {

/* Querie for navbar elements */
#logo {
    width: 140px;
    height: auto;
}

/* Querie for footer elements */
#list-web-link {
    padding: 5px;
}

#list-web-link>li>a {
    font-size: 12px;
}

.social-link {
    font-size: 20px;
    padding: 8px;
}

/* Querie for forms elements */

/* Querie for add car form */

#id_description {
    width: 181px;
}

#id_car_image {
    font-size: 12px;
}

}
