{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header section and hero image-->
<header>
    <div class="container-fluid hero-image">
        <div class="px-4 text-center">
            <div class="col-12 px-4 py-5 d-flex align-items-center justify-content-around">
                <div class="glass-bck">
                    <h1 class="m-1 txt-white txt-shadow-y">Auto Classic Club</h1>
                </div>
            </div>
            <div class="col-12 px-4 py-5 d-flex align-items-center justify-content-around">
                <div class="glass-bck">
                    <p class="m-1 txt-white txt-shadow-y">Made for all car lovers, with the most incredible machines in history. Accelerate on this journey.</p>
                </div> 
            </div>
        </div>
    </div>
</header>

<!-- About section -->
<div class="container-fluid">
    <div class="px-4 m-3 text-center">
        <h2 class="txt-shadow-y">About</h2>
    </div>
    <div class="px-4 m-2 text-center">
        <p>The Auto Classic club is a community created to facilitate the promotion of classic cars and interaction among site members.</p>
    </div>
    <div class="px-4 m-1 text-center">
        <p>Members can add their cars, suggest events, comment and leave their opinion, rate other cars.</p>
        <p>And most importantly create connections with the community.</p>
    </div>
</div>

<!-- Garage cars section -->
<div class="bck-grd-black">
    <div class="col-12 mt-3 left">
        <div class="px-4 m-3 text-center">
            <h2 class="txt-shadow-y txt-white pt-3">Garage</h2>
        </div>
        <div class="row">
        {% for car in car_list %}
            <div class="col-md-6">
                <div class="card mb-4 m-3">
                        <div class="card-body m-1">
                            <div class="image-container">
                                <img class="card-img-top rounded" alt="Car image" src=" {{ car.car_image.url }}">
                                <div class="image-flash">
                                    <span class="txt-white p-2"><i class="far fa-star p-1"></i> {{ car.number_of_favourites }}</span>
                                </div>
                            </div>
                            <p class="card-text mt-2">Brand: {{ car.brand}}</p>
                            <p class="card-text">Model: {{ car.model }}</p>
                            <p class="card-text">Year: {{ car.year }}</p>
                            <p class="card-text">Created by: {{ car.username }}</p>
                            <a class="btn btn-card" href="{% url 'car_detail' car.slug %}">View more</a>                   
                        </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        <div class="px-4 mt-1 mb-3 text-center">
            <a class="btn btn-two" href="{% url 'garage' %}">Explore</a>
        </div>
    </div>
</div>

<!-- Events section -->
<div class="bck-grd-gray">
    <div class="col-12 mt-3 left">
        <div class="px-4 m-3 text-center">
            <h2 class="txt-shadow-y pt-3">Events</h2>
        </div>
    </div>
    <div class="row">
        {% for event in event_list %}
            <div class="col-md-6">
                <div class="card mb-4 m-3">
                    <div class="card-body m-1">
                        <div class="image-container">
                            <img class="card-img-top rounded" alt="Event image" src=" {{ event.event_image.url }}">
                            <div class="image-flash">
                                <span class="txt-white p-2"><i class="bi bi-calendar2-check p-1"></i> {{ event.number_of_go }}</span>
                                <span class="txt-white p-2"><i class="bi bi-calendar2 p-1"></i> {{ event.number_of_maybe }}</span>
                            </div>
                        </div>
                        <p class="card-text mt-2">Title: {{ event.event_title }}</p>
                        <p class="card-text">Category: {{ event.category }}</p>
                        <p class="card-text">Local: {{ event.local }}</p>
                        <p class="card-text">Date: {{ event.start_date }}</p>
                        <a class="btn btn-card" href="{% url 'event_detail' event.slug %}">View more</a>                  
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        <div class="px-4 mt-1 mb-3 text-center">
            <a class="btn btn-one" href="{% url 'events' %}">Check out</a>
        </div>
    </div>
</div>

<!-- Join us section -->
<div class="bck-grd-black">
    <div class="col-12 p-3 left">
        {% if user.is_authenticated %}
        {% load account %}
        <div class="px-4 m-3 text-center">
            <h2 class="txt-shadow-y txt-white pt-3">Hello, {% user_display user %}</h2>
        </div>
        <div class="px-4 m-1 text-center">
            <p class="txt-white">Welcome again, access your area and keep up with the news.</p>
        </div>
        <div class="px-4 mt-1 mb-3 text-center">
            <a class="btn btn-two" href="{% url 'members' %}">Your area</a>
        </div>
        {% else %}
        <div class="px-4 m-3 text-center">
            <h2 class="txt-shadow-y txt-white pt-3">Join us</h2>
        </div>
        <div class="px-4 m-1 text-center">
            <p class="txt-white">Be part of our community, registration is fast and easy. Start sharing and interacting with our members.</p>
        </div>
        <div class="px-4 mt-1 mb-3 text-center">
            <a class="btn btn-two" href="{% url 'account_signup' %}">Register</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}