{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
    <div class="container-fluid hero-image">
        <div class="px-4 text-center">
            <div class="col-12 px-4 py-5 d-flex align-items-center justify-content-around">
                <div class="glass-bck">
                    <h1 class="m-1 txt-white txt-shadow-y">Auto Classic Club</h1>
                </div>
            </div>
            <div class="col-12 px-4 py-5 d-flex align-items-center justify-content-around">
                <div class="glass-bck">
                    <p class="m-1 txt-white txt-shadow-y">Made for all car lovers, with the most incredible machines in history. Accelerate on this journey.</p>
                </div> 
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">

    <div>
        <h2>ABOUT</h2>
    </div>

    <div class="col-12 mt-3 left">
        <div>
            <h2>Garage</h2>
        </div>
        <div class="row">
        {% for car in car_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{% url 'car_detail' car.slug %}">
                            <h2>{{ car.car_id }}</h2>
                            <p>{{ car.brand}}</p>
                            <p>{{ car.model }}</p>
                            <p>{{ car.username }}</p>
                            <img class="card-img-top" src=" {{ car.car_image.url }}">
                        </a>                    
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-12 mt-3 left">
        <div>
            <h2>Events</h2>
        </div>
    </div>
    <div class="row">
        {% for event in event_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{% url 'event_detail' event.slug %}">
                            <h2>{{ event.event_id }}</h2>
                            <p>{{ event.event_title}}</p>
                            <p>{{ event.category }}</p>
                            <img class="card-img-top" src=" {{ event.event_image.url }}">
                        </a>                    
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    <div>
        <h2>JOIN US</h2>
    </div>

</div>

{% endblock content %}