{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <h2 class="m-2">Delete your event.</h2>
</div>

<div class="container text-center d-flex flex-column">
    <div class="card-body">
        <p class="mb-1">Title: {{ event.event_title }}</p>
        <p class="mb-1">Category: {{ event.category }}</p>
        <p class="mb-1">Date: {{ event.start_date }}</p>
        {% if "placeholder" in event.event_image.url %}
        <img class="card-img-top rounded" style="width: 250px; height: 150px" alt="Event image placeholder" src="{% static 'images/event-placeholder.jpg' %}">
        {% else %}
        <img class="card-img-top rounded" style="width: 250px; height: 150px" alt="Event image" src=" {{ event.event_image.url }}">
        {% endif %}
    </div>
</div>

<div class="container text-center">
    <div class="col-md-4 mb-4 offset-md-4 bck-grd-gray rounded shadow">
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <p>Attention! Are you sure?</p>
                <p>Do you want to delete your event post?</p>
            </div>
            <div>
                <input type="submit" value="Delete" class="btn btn-danger m-2">
                <a href="{% url 'memberevents' %}" class="btn btn-primary m-2">Go Back</a>
            </div>
        </form>
    </div>
</div>

{%endblock%}