{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Events page title -->
<div class="container text-center">
    <h2 class="m-2">Events</h2>
    <p>View events near you and interact with other members. </p>
</div>

<!-- Sort and search section -->
<div class="container-fluid text-center bck-grd-black">
    <!-- Sort list -->
    <div class="dropdown p-2">
        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/events/?sort=date">By post date: New to old</a></li>
            <li><a class="dropdown-item" href="/events/?sort=-date">By post date: Old to new</a></li>
            <li><a class="dropdown-item" href="/events/?sort=event_title">By title: A to Z</a></li>
            <li><a class="dropdown-item" href="/events/?sort=-event_title">By title: Z to A</a></li>
            <li><a class="dropdown-item" href="/events/?sort=start_date">By event date: New to old</a></li>
            <li><a class="dropdown-item" href="/events/?sort=-start_date">By event date: Old to new</a></li>
        </ul>
    </div>

    <!-- Search bar -->
    <div class="col-md-auto p-2">
        <div class="container col-sm-8 col-lg-4">
            <form method="POST" class="d-flex" role="search" action="{% url 'search_event' %}">
                {% csrf_token %}
                <div class="input-group mb3">
                    <input type="text" name="searched" class="form-control mr-sm-2" placeholder="Search event title, local or category here"
                        aria-label="Search events" value="{{search_input}}" required>
                        <button type="submit" class="btn btn-outline-light" value="Search"><i class="bi bi-search"></i></button>
                        <a href="{% url 'events' %}" class="btn btn-outline-light"><i class="bi bi-x-lg"></i></a>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- All events card list display -->
<div class="container-fluid">
    <div class="row">
        {% for event in event_list %}
            <div class="col-md-4 p-0 single-event">
                <div class="card m-3">
                    <div class="card-body m-1 p-1 text-center">
                        <div class="image-container">
                            {% if "placeholder" in event.event_image.url %}
                            <img class="card-img-top rounded" alt="Event image placeholder" src="{% static 'images/event-placeholder.jpg' %}">
                            {% else %}
                            <img class="card-img-top rounded" alt="Event image" src=" {{ event.event_image.url }}">
                            {% endif %}
                            <div class="image-flash">
                                <span class="txt-white p-2"><i class="bi bi-calendar2-check p-1"></i> {{ event.number_of_go }}</span>
                                <span class="txt-white p-2"><i class="bi bi-calendar2 p-1"></i> {{ event.number_of_maybe }}</span>
                            </div>
                        </div>
                        <p class="card-text mt-2">Title: {{ event.event_title }}</p>
                        <p class="card-text">Category: {{ event.category }}</p>
                        <p class="card-text">Local: {{ event.local }}</p>
                        <p class="card-text">Date: {{ event.start_date }}</p>
                        <a class="btn btn-card" href="{% url 'event_detail' event.slug %}">View more</a>                  
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row" id="events-container">
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Load more events buttons -->
<div class="container-fluid mt-4 mb-4 text-center">
    <button id="load-more" class="btn-sm btn-dark" data-limit="3" data-total="{{ total_event_list }}">Load More</button>
    <button id="load-end" class="btn-sm btn-outline-dark" hidden disabled>No more events</button>
</div>

<!-- Script to Load more events -->
<script>

    // Function to on click load more button
    $(document).ready(function(){
        $('#load-more').on('click', function(){
            // Get data (limit and total) from button attr and total of events displayed
            var _current_event=$(".single-event").length;
            var _limit=$(this).attr("data-limit");
            var _total=$(this).attr("data-total");

            // Get sort value from URL
            var current_url = window.location.href;
            var url_now = new URL(current_url);
            var _sort = url_now.searchParams.get("sort");

            if(_sort == null){
                    _sort = "-created_on";
                }

            // AJAX to send data and execute function
            $.ajax({
                url: '/load-more-events/',
                data: {
                    limit: _limit,
                    offset: _current_event,
                    sort: _sort
                },
                dataType: 'json',
                beforeSend:function(){
                     $('#load-more').attr('disabled', true);
                },
                success:function(res){
                    $('#events-container').append(res.event_list),
                    $('#load-more').attr('disabled', false);
                    
                    var _total_showing=$('.single-event').length;
                    if(_total_showing == _total){
                        $('#load-more').attr('hidden', true),
                        $('#load-end').attr('hidden', false);
                    }
                },
            });
        });
    });

</script>

{%endblock%}