{% extends "base.html" %}
{% load static %}
{% block content %}

<div>
    <h2>Events</h2>
</div>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/events/?sort=date">By post date: New to old</a></li>
        <li><a class="dropdown-item" href="/events/?sort=-date">By post date: Old to new</a></li>
        <li><a class="dropdown-item" href="/events/?sort=event_title">By title: A to Z</a></li>
        <li><a class="dropdown-item" href="/events/?sort=-event_title">By title: Z to A</a></li>
        <li><a class="dropdown-item" href="/events/?sort=start_date">By event date: New to old</a></li>
        <li><a class="dropdown-item" href="/events/?sort=-start_date">By event date: Old to new</a></li>
    </ul>

<div class="col-12 mt-3 left">
    <div class="row">
    {% for event in event_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'event_detail' event.slug %}">
                        <h2>{{ event.event_id }}</h2>
                        <p>{{ event.event_title }}</p>
                        <p>{{ event.start_date }}</p>
                        <p>{{ event.local }}</p>
                        <img class="card-img-top" src=" {{ event.event_image.url }}">
                    </a> 
                </div>                   
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div> 
    <div class="row">        
    {% endif %}
    {% endfor %}
    </div>
</div>

{%endblock%}