{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div>
    <h2>Event Detail</h2>
</div>

<!-- Event post image -->
<div class="card mb-4">
    <img class="card-img-top" src=" {{ event.event_image.url }}">
</div>

<!-- Event post intro -->
<div>
    <p>Created by {{ event.username }}</p>
    <p>Last update - {{ event.updated_on}}</p>
</div>

<!-- Event post details  -->
<div class="card mb-6">
    <div class="card-body">
        <h2>{{ event.event_id }}</h2>
        <p>Title: {{ event.event_title}}</p>
        <p>Start date: {{ event.start_date }}</p>
        <p>Start date: {{ event.start_time }}</p>
        <p>Local: {{ event.local }}</p>
        <p>Category: {{ event.category }}</p>        
    </div>
    <div class="card-body">
        <h3>Description</h3>
        <p>{{ event.description }}</p>
    </div>
</div>

<!-- Presence section -->
<div class="col-1">
    <strong>
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'presence_go_event' event.slug %}" method="POST">
            {% csrf_token %}
            {% if presence_go_ok %}
            <button type="submit" name="event_id" value="{{event.slug}}"><i class="fa fa-star">GO</i></button>
            {% else %}
            <button type="submit" name="event_id" value="{{event.slug}}"><i class="far fa-star">GO</i></button>
            {% endif %}
        </form>
        {% else %}
        <span><i class="far fa-star">GO</i></span>
        {% endif %}
    <!-- The number of likes goes before the closing strong tag -->
    <span>{{ event.number_of_go }} </span>
    </strong>
</div>

<div class="col-1">
    <strong>
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'presence_maybe_event' event.slug %}" method="POST">
            {% csrf_token %}
            {% if presence_maybe_ok %}
            <button type="submit" name="event_id" value="{{event.slug}}"><i class="fa fa-star">MAYBE</i></button>
            {% else %}
            <button type="submit" name="event_id" value="{{event.slug}}"><i class="far fa-star">MAYBE</i></button>
            {% endif %}
        </form>
        {% else %}
        <span><i class="far fa-star">MAYBE</i></span>
        {% endif %}
    <!-- The number of likes goes before the closing strong tag -->
    <span>{{ event.number_of_maybe }} </span>
    </strong>
</div>

<!-- Comments section -->
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- For loop to iterate through each comment in comments -->
            {% for comment in event_comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            <!-- For loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{%endblock%}